# Build and Output Artifact Folders
.cache/
bazel-*
external

coverage/*
!coverage/.gitkeep

# Ignore the MODULE file(s) until I know how to utilize them
MODULE.*

# Auto-generarted files
compile_commands.json

# User specific files
user.bazelrc